<% if @result.present? %>

  <% @result.each do |recipe| %>
    <h3> Recipe: </h3>
    <p> name : <%== recipe.name %></p>
    <p> instructions :<%== recipe.instructions %></p>
    <p> cooking time: <%== "#{recipe.cooking_time} min." %></p>
    <ul>
      <% recipe.ingredients.each do |ingredient| %>
      <li><%== ingredient.name %></li>
      <% end %>
    </ul>
    <% end %>


<% else %>
  <h2>No recipes found</h2>
<% end %>